<!DOCTYPE html>
<html>
<body>
<table>
  <tr><td colspan="3">{{template "header"}}</td></tr>
  <tr><td width="100">{{template "sidelink"}}</td>
  
    <td width="400">
      <form action="/create">
        <input type="text" id="val" name="val">
        <input type="submit" value="Add">
      </form>
    </td>
    <td>
    <table>
        {{range $index, $element := .}}
          <tr><td><form action="/update"><input type="hidden" value="{{$index}}" name="id1"><input type="text" value="{{$element}}" name="val"><input type="submit" value="Edit"></form></td>
          <td><form action="/delete"><input type="hidden" value="{{$index}}" name="id1"><input type="submit" value="Delete"></form></td></tr>
        {{end}}
     </table>
     </td> 
  </tr>
  <tr><td colspan="3" height="200">&nbsp;</td></tr>
  <tr><td colspan="3">{{template "footer"}}</td></tr>
</table>  

</body>
</html>